Distribución de la información en párrafos 
Extensión de las oraciones adecuada 
No existe repetición de la información 
Ausencia de adjetivos 
Ausencia de términos coloquiales o vulgares 

Tamaño de hoja A4 constante en todo el documento 
Páginas numeradas 
No existen saltos de página inadecuados 
Numeración de apartados 
Jerarquía tipográfica adecuada al nivel de apartado 
Fuente de texto constante en todo el documento 
Se dispone de tabla de contenido 
Se dispone de imágenes/gráficas numeradas 
Se dispone de tabla de imágenes/gráficas  