:root {
  --color: #343434;

  --bg-color: #F0DBD6;
  --primary-color: #42223B;
  --secundary-color: #F0DBD6;
  --secundary-color-a: #51724E;
  --third-color: #F29696;

  /*
    font-family: 'DM Serif Display', serif;
  font-family: 'Inter', sans-serif;
  Rade
  */
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-size: 22px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}


.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-s-b {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.transparent {
  background: transparent;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset
  }

  50%,
  100% {
    box-shadow: 0 -98px inset
  }
}


.loader {
  width: 40px;
  height: 98px;
  display: inline-block;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  color: rgba(255, 61, 0, 0.9);
  border-radius: 20px 20px 4px 4px;
  background: #fff;
  animation: fill 2s linear infinite alternate;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50% , -95%);
  border: 2px solid #FFF;
  border-bottom: none;
  background: #fff;
  width: 15px;
  height: 35px;
  animation: fillNeck 2s linear infinite alternate;
}

@keyframes fill {
  0% { box-shadow: 0 0  inset }
  50% , 100% { box-shadow: 0 -98px inset }
}


@keyframes fillNeck {
  0% , 50%{ box-shadow: 0 0  inset }
  100% { box-shadow: 0 -20px inset }
}



/*

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */