.top-menu {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--secundary-color);
}

.nav-page {
    text-transform: uppercase;
    font-size: 15px;
    box-sizing: border-box;
    position: relative;

    &:after {
        content: ' ';
        background-color: #9a1a1a;
        position: absolute;
        left: 0;
        width: 46%;
        height: 3px;
        bottom: -4px;
        transition: 0.4s;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }



    &:hover {
        color: #702d2d;
        border-bottom: #e86f6f 3px solid;
        transition: 0.4s;
        &:after {
            width: 100%;
            transition: 0.4s;
        }
    }
}
.nav-list-page {
    display: none;
    list-style: none;
    justify-content: space-between;
    width: fit-content;
    padding: 0;
    gap: 2rem;
    margin: 8px 0;

    @media (min-width: 768px) {
        display: flex;
    }
}   

.menu-btn {
    cursor: pointer;
    @media (min-width: 768px) {
        display: none;
    }
}

.responsive-menu li {
    padding: 10px 0;
    font-weight: 700;
    color: azure;
}

.responsive-menu {
    left: -200px;
    position: fixed;
    height: 100vh;
    width: 150px;
    background-color: rgb(156 148 153 / 73%);    top: 0;
    margin-top: 0;
    padding-top: 1rem;
    list-style: none;
    backdrop-filter: blur(4px);
    z-index: 200;
    padding: 1rem;
    transition: 0.5s;

    &.active {
        left: 0;
        
    }

    a {
        text-align: center;
        font-weight: 800;
        padding: 10px 0;
        margin: 10px 0;
        display: block;
        color:white;
        background-color: var(--primary-color);
        &:hover {
            background-color: rgb(255 255 255 / 73%) !important;
        }
    }
    @media (min-width: 768px) {
       left:-200px!important;
    }
}

